@font-face {
    font-family: 'CustomFont';
    src: url('../../neue-june/Matt Chansky - Neue June Light.otf') format('opentype');
}

@font-face {
    font-family: 'CustomFont-Bold';
    src: url('../../neue-june/Matt Chansky - Neue June Bold.otf') format('opentype');
}



#BodyContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}


#Render {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

#RenderImg {
    width: 105%;
    object-fit: cover;

}

#gif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 10%;
    animation: fade-in 2s ease-in-out;
}

.overlay {
    position: absolute;
    top: 35%;
    left: 55%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: 30%;
    width: 30%;
}

#ImgTitle {
    height: 150%;
    margin-bottom: -20%;
    margin-left: 10%;
    animation: fade-in 3s ease-in-out;
}

#PolarDescription {
    font-size: 1.8vw;
    color: rgba(255, 255, 255, 0.779);
    text-align: end;
    position: relative;
    left: 25%;
    animation: slide-up 5s ease-in-out;
    font-family: 'CustomFont', sans-serif;
}

#PolarDescription strong {
    font-family: 'CustomFont-Bold', sans-serif;
}

#ShopAllButton {
    font-size: 1.8vw;
    background-color: #fff;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 170, 255);
    padding: 6%;
    position: relative;
    border-radius: 10px;
    left: 50%;
    transition: all 150ms linear;
    font-family: 'CustomFont', sans-serif;
    z-index: 10;
    animation: fade-in 7s ease-in-out;
}

#ShopAllButton:hover {
    transform: translateY(-5%);
    background-color: rgb(0, 136, 204);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}




#Benefits {
    position: relative;
    /* Add position relative */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    font-family: 'CustomFont', sans-serif;
}

#BannerBeneficios {
    width: 105%;
    height: auto;
}

#TitleandDescription {
    position: absolute;
    /* Add position absolute */
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#BeneficiosTitle {
    font-size: 3.3vw;
    color: white;
    margin-bottom: -3%;
    font-family: 'CustomFont', sans-serif;
}

#BeneficiosDescription {
    font-size: 1rem;
    color: white;
}


#BenefitsLeft {
    position: absolute;
    /* Add position absolute */
    top: 55%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30vw;
}

#BenefitsRight {
    position: absolute;
    /* Add position absolute */
    top: 55%;
    left: 82%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30vw;
}

#LogoBenefits {
    width: 15%;
    margin-bottom: -3%;
    transition: transform 0.9s;
}

#LogoBenefitsR {
    width: 15%;
    margin-bottom: -3%;
    transform: rotate(270deg);
    transition: transform 0.9s;

}

#LogoBenefits:hover {
    transform: scale(1.2);
    transform: rotate(360deg);
}

#LogoBenefitsR:hover {
    transform: scale(1.2);
    transform: rotate(630deg);
}


#BenefitsTitle {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -1%;
}


#BenefitsDescription {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 7%;
}

.animate-title {
    animation: fade-in 0.5s ease-out forwards;
}

.animate-description {
    animation: fade-in 1s ease-out forwards;
}

.animate-left {
    animation: fade-in 3s ease-out forwards;
}

.animate-right {
    animation: fade-in 3s ease-out forwards;
}

.animate-carouse {
    animation: fade in 2s ease-out forwards;
}


.hide {
    opacity: 0;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




#Products {
    margin-top: 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../Fondo.jpg');
    object-fit: cover;
    width: 105%;
    position: relative;
    left: -3%;
    font-family: 'CustomFont', sans-serif;
}

#ProductsTitle {
    font-size: 4.5vw;
    text-align: center;
    margin-top: 5%;
    color: #121212;
    /* font-family: 'CustomFont-Bold', sans-serif; */
}

#ProductsDescription {
    font-size: 1.2vw;
    margin-top: -5%;
    text-align: center;
    color: #121212;
}

#ProductCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}

#divProduct {
    height: 55vh;
    margin-top: 15%;
    position: relative;

}

#fotoProduct1 {
    height: 150%;
    width: 110%;
    margin-top: -25%;
    margin-left: -5%;
}

#fotoProduct2 {
    height: 105%;
    width: 40%;
    margin-top: -12%;

}

#fotoProduct3 {
    height: 105%;
    width: 40%;
    margin-top: -12%;

}

.slide-legend {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 20%;
    color: #121212;
}

.slide-legend h3 {
    font-size: 1.5vw;

}

.slide-legend p {
    font-size: 1.5vw;
    margin-top: 0%;
    font-weight: bold;
}


.custom-arrow-left {
    align-self: center;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.custom-arrow-right {
    align-self: center;
    margin-left: 10px;
    /* Adjust the margin as needed */
}

#ProductTitle {
    margin-top: 5%;
}








#FAQs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    margin-top: 10%;
    z-index: 1;
    width: 105.5%;
    position: relative;
    left: -3%;
    color: white;
    font-family: 'CustomFont', sans-serif;

}

#FAQsTitle {
    font-size: 4.5vw;
    text-align: center;
    color: white;
    position: sticky;
    margin-top: -1%;
}

#Preguntas {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: -1%;
    border: 1px solid white;
    flex-direction: row;
    padding: 2%;
    border-left: hidden;
    border-right: hidden;
    gap: 10%;
    overflow: hidden;
    /* Added overflow property */
}

#Preguntas1,
#Preguntas2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* Updated width to 50% */
    height: 100%;
    /* Added fixed height */
    margin-left: 5%;
}

#FAQsPregunta {
    text-align: start;
    font-size: 1.5vw;
    border-left: 1px solid white;
    padding-left: 2.35%;
    margin-bottom: 10%;
    margin-left: 5%;
}

.faq-answer {
    display: none;
    text-align: justify;
    font-size: 1.2vw;
    color: grey;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}


#FAQsPregunta:hover {
    cursor: pointer;
    transform: scale(102%);
}

.faq-question.active .faq-answer {
    display: block;
    width: 90%;
}






#PolarSocial {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    margin-top: 10%;
    z-index: 1;
    width: 105.5%;
    position: relative;
    left: -3%;
    font-family: 'CustomFont', sans-serif;

}

#SocialsTitle {
    font-size: 4.5vw;
    text-align: center;
    color: white;
    margin-top: -2%;

}

#SocialsDescription {
    font-size: 1.3vw;
    margin-top: -4%;
    text-align: center;
    color: white;
}

#IgLogo {
    background-color: transparent;
    width: 8%;
    margin-bottom: -5%;
    margin-top: 2%;
    margin-left: -1%;
}

#DivFotos {
    height: 50vh;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
}

#Foto1 {
    width: 25%;
}

#Foto2 {
    width: 25%;
}

#Foto3 {
    width: 25%;
}

.image-hover {
    transition: transform .4s;
    cursor: pointer;
}

.image-hover:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Define fade-in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Define slide-up animation */
@keyframes slide-up {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}