@font-face {
    font-family: 'CustomFont';
    src: url('../../neue-june/Matt Chansky - Neue June Light.otf') format('opentype');
}

@font-face {
    font-family: 'CustomFont-Bold';
    src: url('../../neue-june/Matt Chansky - Neue June Bold.otf') format('opentype');
}

@font-face {
    font-family: 'CustomFont-LightBold';
    src: url('../../neue-june/Matt Chansky - Neue June Demi.otf') format('opentype');
}



#BodyContainer {
    height: 100%;
    width: 102%;
    margin: 0;
    padding: 0;
    background-color: #121212;
}


#Render {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

#RenderImg {
    width: 105%;
    object-fit: cover;

}

#RenderImgMobile {
    width: 105%;
    object-fit: cover;
    display: none;
}

#gif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 10%;
    animation: fade-in 2s ease-in-out;
}

.overlay {
    position: absolute;
    top: 35%;
    left: 55%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: 30%;
    width: 30%;
}

#ImgTitle {
    height: 150%;
    margin-bottom: -20%;
    margin-left: 15%;
    animation: fade-in 3s ease-in-out;
}

#PolarDescription {
    font-size: 1.8vw;
    color: rgba(255, 255, 255, 0.779);
    text-align: end;
    position: relative;
    left: 25%;
    animation: slide-up 5s ease-in-out;
    font-family: 'CustomFont', sans-serif;
}

#PolarDescription strong {
    font-family: 'CustomFont-Bold', sans-serif;
}

#ShopAllButton {
    font-size: 1.8vw;
    background-color: #fff;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 170, 255);
    padding: 6%;
    position: relative;
    border-radius: 10px;
    left: 50%;
    transition: all 150ms linear;
    font-family: 'CustomFont', sans-serif;
    z-index: 10;
    animation: fade-in 7s ease-in-out;
}

#ShopAllButton:hover {
    transform: translateY(-5%);
    background-color: rgb(0, 136, 204);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}




#Benefits {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content vertically */
    margin-top: 8%;
    font-family: 'CustomFont', sans-serif;
}

#BannerBeneficios {
    width: 105%;
    height: auto;
}

#BannerBeneficiosMobile {
    display: none;
}

#TitleandDescription {
    text-align: center;
    position: absolute;
    top: 5%;
}

#BeneficiosTitle {
    font-size: 3.3vw;
    color: white;
    margin-bottom: -3%;
    font-family: 'CustomFont', sans-serif;
}

#BeneficiosDescription {
    font-size: 1rem;
    color: white;
}


#BenefitsLeft {
    position: absolute;
    /* Add position absolute */
    top: 53%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30vw;
}

#BenefitsRight {
    position: absolute;
    /* Add position absolute */
    top: 51%;
    left: 82%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30vw;
}

#LogoBenefits {
    width: 15%;
    margin-bottom: -3%;
    transition: transform 0.9s;
}

#LogoBenefitsR {
    width: 15%;
    margin-bottom: -3%;
    transform: rotate(270deg);
    transition: transform 0.9s;

}

#LogoBenefits:hover {
    transform: scale(1.2);
    transform: rotate(360deg);
}

#LogoBenefitsR:hover {
    transform: scale(1.2);
    transform: rotate(630deg);
}


#BenefitsTitle {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -1%;
}


#BenefitsDescription {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 7%;
}

.animate-title {
    animation: fade-in 0.5s ease-out forwards;
}

.animate-description {
    animation: fade-in 1s ease-out forwards;
}

.animate-left {
    animation: fade-in 3s ease-out forwards;
}

.animate-right {
    animation: fade-in 3s ease-out forwards;
}

.animate-carouse {
    animation: fade in 2s ease-out forwards;
}


.hide {
    opacity: 0;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




#Products {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    object-fit: cover;
    width: 105%;
    position: relative;
    left: -3%;
    font-family: 'CustomFont', sans-serif;
    margin-bottom: 10%;
}

#ProductsTitle {
    font-size: 4.5vw;
    text-align: center;
    margin-top: 7%;
    color: white;
    /* font-family: 'CustomFont-Bold', sans-serif; */
}

#ProductsDescription {
    font-size: 1.2vw;
    margin-top: -4%;
    text-align: center;
    color: white;
}

#ProductCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}

#divProduct {
    height: 55vh;
    margin-top: 18%;
    position: relative;

}

#fotoProduct1 {
    height: 150%;
    width: 70%;
    margin-top: -30%;
    margin-left: -2%;
}

#fotoProduct2 {
    height: 140%;
    width: 70%;
    margin-top: -23%;

}

#fotoProduct3 {
    height: 140%;
    width: 70%;
    margin-top: -23%;

}

.slide-legend {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 20%;

}

.slide-legend h3 {
    font-size: 1.5vw;

}

.slide-legend p {
    font-size: 1.5vw;
    margin-top: 0%;
    font-weight: bold;
}


.custom-arrow-left {
    align-self: center;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.custom-arrow-right {
    align-self: center;
    margin-left: 10px;
    /* Adjust the margin as needed */
}

#ProductTitle {
    margin-top: 3%;
}

/* Add your existing styles here */

/* Styling for the moving button container */
.moving-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    background-color: #121212ee;
    border: 1px solid white;
    border-left: hidden;
    border-right: hidden;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 75%;
}

/* Styling for the moving button */
.moving-button {
    background-color: #3498db;
    font-size: 1.8vw;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    font-family: 'CustomFont', sans-serif;
}

/* Adding the hover effect for the button */
.moving-button:hover {
    transform: translateY(-5%);
    background-color: rgb(0, 136, 204);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Adjust the value to control the movement */







#FAQs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    margin-top: 5%;
    z-index: 1;
    width: 105.5%;
    position: relative;
    left: -3%;
    color: white;
    font-family: 'CustomFont', sans-serif;

}

#FAQsTitle {
    font-size: 4.5vw;
    text-align: center;
    color: white;
    position: sticky;
    margin-top: -1%;
}

#Preguntas {
    width: 80vw;
    display: flex;
    margin-top: -1%;
    border: 1px solid white;
    flex-direction: row;
    padding: 2%;
    border-left: hidden;
    border-right: hidden;
    gap: 10%;
    overflow: hidden;
    /* Added overflow property */
}

#Preguntas1,
#Preguntas2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Updated width to 50% */
    height: 100%;
    /* Added fixed height */
    margin-left: 5%;
}

#FAQsPregunta {
    text-align: start;
    font-size: 1.5vw;
    border-left: 1px solid white;
    padding-left: 2.35%;
    margin-bottom: 7%;
    margin-left: 5%;
    position: sticky;
}


.faq-answer {
    display: none;
    text-align: justify;
    font-size: 1.2vw;
    color: grey;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    /* Adjusted width */
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* Added transition */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    /* Added padding */
}


#FAQsPregunta:hover {
    cursor: pointer;
    transform: scale(102%);
}

.faq-question.active .faq-answer {
    display: block;
    max-height: 1000px;
    /* Adjust to a suitable value */
    opacity: 1;
    margin-top: -5%;

}






#PolarSocial {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;

    z-index: 1;
    width: 104.5%;
    position: relative;
    left: -3%;
    font-family: 'CustomFont', sans-serif;

}

#SocialsTitle {
    font-size: 4.5vw;
    text-align: center;
    color: white;
    margin-top: 0%;

}

#SocialsDescription {
    font-size: 1.3vw;
    margin-top: -4%;
    text-align: center;
    color: white;
}

#IgLogo {
    background-color: transparent;
    width: 8%;
    margin-top: 1%;
    margin-right: 1%;
}

#DivFotos {
    height: 50vh;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
}

#Foto1 {
    width: 25%;
}

#Foto2 {
    width: 25%;
}

#Foto3 {
    width: 25%;
}

.scaled-image {
    transition: transform 0.3s ease;
}

.scaled-image:hover {
    transform: scale(1.1);
}



/* Define fade-in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Define slide-up animation */
@keyframes slide-up {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}




#ContactModal {
    position: fixed;
    z-index: 1000;
    /* Adjust this value as needed */
    top: 50%;
    /* Center vertically */
    left: 100%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    margin-left: 50%;
    font-family: 'CustomFont', sans-serif;
}

.ContactModalContent {
    background-color: #121212;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

#ContactModalTitle {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 5%;
    color: white;
    margin-bottom: 0%;
}

#ContactModalText {
    font-size: 1.5vw;
    color: white;
    text-align: justify;
    padding: 3%;

}

#ContactCross {
    width: 5%;
    height: 5%;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 2%;
    filter: brightness(0) invert(1);
}

#ContactCross:hover {
    transform: scale(1.2);
    transform: rotate(90deg);
}

#ContactForm1 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#ContactForm1 label {
    font-weight: bold;
    margin-bottom: 8px;
}

#ContactForm1 input,
#ContactForm1 textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Add the desired font-family for input fields */
input[type="text"],
input[type="email"],
textarea {
    font-family: 'CustomFont', sans-serif;
    font-size: 1vw;
    /* Replace with your font name */
    /* Other existing styles for input fields */
}


#ContactForm1 textarea {
    resize: vertical;
}

#ContactForm1 button {
    background-color: rgb(0, 170, 255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10%;
    width: 105%;
}

#ContactForm1 button:hover {
    background-color: rgb(0, 136, 204);
}

#ContactForm1 p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

@media only screen and (max-width: 768px) {

    #BodyContainer {

        background-color: black;
    }

    #Render {
        height: 100vh;
        width: 100%;
    }

    #RenderImg {
        display: none;

    }

    #RenderImgMobile {
        width: 100%;
        display: flex;
        margin-top: -10%;
    }

    #ImgTitle {
        height: 80%;
        margin-top: -450%;
        margin-left: -135%;
        animation: fade-in 3s ease-in-out;
    }

    #PolarDescription {
        font-size: 3.5vw;
        margin-top: -15%;
        left: 40%;
        text-align: left;
        margin-left: -200%;
    }

    #ShopAllButton {
        font-size: 3.5vw;
        padding: 10%;
        left: -162%;
        top: 2%;

    }


    #Benefits {
        /* Center the content vertically */
        margin-top: -22%;

    }

    #BannerBeneficios {
        display: none;
    }


    #BannerBeneficiosMobile {
        display: flex;
        width: 100%;
    }

    #TitleandDescription {
        text-align: center;
        position: absolute;
        top: 5%;
    }

    #BeneficiosTitle {
        font-size: 8vw;
        margin-bottom: 3%;
        margin-top: -0%;
        margin-left: 10%;
        font-family: 'CustomFont-LightBold', sans-serif;
        text-align: left;

    }

    #BeneficiosDescription {
        display: none;
    }


    #BenefitsLeft {

        display: none;
    }

    #BenefitsRight {

        display: none;
    }

    #LogoBenefits {
        width: 15%;
        margin-bottom: -3%;
        transition: transform 0.9s;
    }

    #LogoBenefitsR {
        width: 15%;
        margin-bottom: -3%;
        transform: rotate(270deg);
        transition: transform 0.9s;

    }

    #Products {
        margin-bottom: -5%;
    }

    #ProductsTitle {
        font-size: 8vw;
        text-align: center;
        color: white;
        font-family: 'CustomFont-LightBold', sans-serif;
        margin-top: -60%;

    }

    #ProductsDescription {
        font-size: 3vw;
        margin-top: -4%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        color: white;
    }

    #ProductCarousel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: -25%;
    }

    #divProduct {
        height: 55vh;
        margin-top: 18%;
        position: relative;

    }

    #fotoProduct1 {
        height: 80%;
        width: 95%;
        margin-top: 0%;
        margin-left: -2%;
    }

    #fotoProduct2 {
        height: 80%;
        width: 100%;
        margin-top: 5%;

    }

    #fotoProduct3 {
        height: 82%;
        width: 100%;
        margin-top: 5%;

    }

    .slide-legend {

        bottom: 5%;
        font-size: 5vw;


    }

    .slide-legend h3 {
        font-size: 3vw;

    }

    .moving-button-container {
        background-color: #121212;
        width: 80%;
        position: absolute;
        top: 240%;
        margin-left: 12%;
    }

    /* Styling for the moving button */
    .moving-button {
        background-color: #3498db;
        font-size: 3vw;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        font-family: 'CustomFont', sans-serif;
    }

    /* Adding the hover effect for the button */
    .moving-button:hover {
        transform: translateY(-5%);
        background-color: rgb(0, 136, 204);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    /* Adjust the value to control the movement */


    #FAQsTitle {
        font-size: 7vw;
        margin-top: -190%;
        font-family: 'CustomFont-LightBold', sans-serif;
        margin-left: 2%;
    }

    #Preguntas {
        width: 70vw;
        display: flex;
        margin-top: 5%;
        flex-direction: column;
        padding: 2%;
        gap: 50%;
        height: fit-content;


    }

    #Preguntas1,
    #Preguntas2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Updated width to 50% */
        height: fit-content;
        /* Added fixed height */
        margin-left: 5%;

    }

    #FAQsPregunta {
        text-align: start;
        font-size: 2.4vw;
        border-left: 1px solid white;
        padding-left: 2.35%;
        margin-bottom: 7%;
        margin-left: 5%;
        position: sticky;
    }


    .faq-answer {

        font-size: 2vw;
        height: fit-content;
        margin-left: 0%;
        margin-right: 0%;
        width: 100vw;
        /* Adjusted width */
        max-height: 100200px;
        opacity: 0;
        overflow: hidden;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        /* Added padding */
    }


    .faq-question.active .faq-answer {
        display: flex;
        max-height: fit-content;
        /* Adjust to a suitable value */
        margin-top: -5%;

    }






}