@font-face {
    font-family: 'CustomFont';
    src: url('../../neue-june/Matt Chansky - Neue June Light.otf') format('opentype');
}

@font-face {
    font-family: 'CustomFont-Bold';
    src: url('../../neue-june/Matt Chansky - Neue June Bold.otf') format('opentype');
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    z-index: 9999;
    transition: background-color 0.6s, color 0.9s;
    font-family: 'CustomFont', sans-serif;
}

.logo {
    height: 100%;
    width: 10%;
}

#HeaderLogo1 {
    width: 12%;
    height: 180%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5%;
    margin-left: -43%;
    font-size: 1.1vw;
    color: white;
    cursor: pointer;
}

.nav-links li {
    position: relative;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

.nav-links li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease, visibility 0.3s ease;
}

.nav-links li:hover {
    color: white;
}

.nav-links li:hover::before {
    visibility: visible;
    transform: scaleX(1);
}


.nav-links.black li {
    color: black;
}


.nav-links {
    transition: transform 1s ease;
    /* Adjust the transition duration and easing as desired */
}

.nav-links.scroll-left {
    transform: translateX(-30%);
    /* Adjust the value as per your requirement */
    font-size: 1.2vw;
}

.nav-links.scroll-left li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease, visibility 0.3s ease;
}

.nav-links.scroll-left li:hover {
    color: black;
}

.nav-links li:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.ModalContent {
    background-color: #121212;
    padding: 2%;
    border-radius: 10px;
    max-width: 70%;
    max-height: 80%;
    text-align: center;
    position: relative;
}

#ModalTitle {
    font-size: 4vw;
    margin-bottom: 0%;
    margin-top: 0%;
    color: white;
}

#ModalText {
    font-size: 1.5vw;
    margin-bottom: 20px;
    color: white;
    text-align: justify;
    padding: 3%;
    row-gap: 5%;
}


#Cross {
    width: 5%;
    height: 5%;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 0%;
    filter: brightness(0) invert(1);
}

#EyDTitle {
    font-size: 3vw;
    font-family: 'CustomFont-Bold', sans-serif;
    color: black;
    margin-top: 10%;
}

#EyDSubtitle {
    font-size: 2vw;
    text-align: start;
    margin-left: 15%;
    font-family: 'CustomFont', sans-serif;
    color: black;

}

#EyDInfo {
    font-size: 1.2vw;
    text-align: start;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'CustomFont', sans-serif;
    color: grey;

}

@media only screen and (max-width: 768px) {

    nav {
        display: none;
    }

    #HeaderLogo1 {
        display: none;
    }

    #HeaderLogo2 {
        width: 40%;
        margin-left: -10%;
        margin-top: 2%;
        position: relative;
    }

    #EyDTitle {
        font-size: 7vw;
        font-family: 'CustomFont-Bold', sans-serif;
        color: black;
        margin-top: 35%;
        margin-bottom: 10%;
    }

    #EyDSubtitle {
        font-size: 5vw;
        text-align: start;
        margin-left: 10%;
        font-family: 'CustomFont', sans-serif;
        color: black;

    }

    #EyDInfo {
        font-size: 3vw;
        text-align: justify;
        margin-left: 10%;
        font-family: 'CustomFont', sans-serif;
        color: grey;
        margin-bottom: 10%;

    }
}