@font-face {
    font-family: 'CustomFont';
    src: url('../../neue-june/Matt Chansky - Neue June Light.otf') format('opentype'),

}


footer {
    height: 60vh;
    background-color: white;
    width: 105.5%;
    position: relative;
    left: -3%;
    color: black;
    /* transition: transform 2s ease;
    transform: translateY(100%); */
    font-family: 'CustomFont', sans-serif;
}

#FooterContainer.animate-footer {
    transform: translateY(0);
}

#FooterLinks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    opacity: 0;
    padding-top: 2%;

}

#FooterContainer.animate-footer #FooterLinks {
    opacity: 1;
    transition: opacity 1s ease 0.5s;
    /* Delay the opacity transition */
}

.footer-column {
    width: 30%;
    opacity: 0;
    transform: translateY(20px);
    display: flex;
    justify-content: center;
    flex-direction: column;


}

#FooterContainer.animate-footer .footer-column {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease 0.5s, transform 1.5s ease 0.5s;
    /* Delay the opacity and transform transition */
}


.footer-column h3 {
    font-size: 2vw;

}

.footer-column ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;

}

.footer-column li {
    margin-bottom: 5%;
    font-size: 0.9vw;
}

#FooterInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

#FooterContainer.animate-footer #FooterInfo {
    opacity: 1;
    transition: opacity 1s ease 0.5s;
    /* Delay the opacity transition */
}


#FooterLogo {
    width: 10%;
    margin-bottom: -1%;
}

#WppLogo {
    width: 5%;
}

#MailLogo {
    width: 10%;
}

#PhoneLogo {
    width: 20%;
}